html {
  font-family: "roboto", Arial, san-serif;
}

:root {
  --backgroung-yellow: #eee366;
  --background-red: #ff0000;
}

.ramecek {
  width: 30%;
  background-color: white;
  border-radius: 5px;
  position: relative;
  margin-right: auto;
  border: solid 1px black;
}

.bestseller {
  background-color: var(--backgroung-yellow);
  display: inline-block;
  width: 130px;
  line-height: 2;
  text-align: center;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  position: absolute;
  top: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.obrazek {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.sleva {
  position: absolute;
  top: 20px;
  right: 35px;
  display: inline-block;
  background-color: var(--background-red);
  color: #fff4f4;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 3.5;
  font-size: 20px;
  border-radius: 50%;
  font-weight: 600;
}

.produkt-roku {
  width: 30%;
  background-color: var(--background-red);
  color: white;
  line-height: 2.5;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1 {
  margin-top: 50px;
  text-align: center;
  text-decoration: underline;
  color: #157a6e;
}

p {
  padding-left: 5px;
  line-height: 1.2;
}

.price-container {
  background-color: #f8978f;
  margin: 5px auto;
  width: 90%;
  height: 80px;
  border-radius: 12px;
  position: relative;
  padding: 10px;
}
.puvodni-price {
  text-decoration: line-through;
  color: gray;
  font-size: 20px;
  margin: 0px 0px 5px 5px;
}

.sleva-price {
  font-size: 24px;
  font-weight: bold;
  margin: 0px 0px 5px 5px;
}

.usetrite {
  margin: 0px 0px 5px 5px;
  font-style: italic;
}

.kosik {
  position: absolute;
  right: 40px;
  bottom: 30px;
  background-color: lightgray;
  width: 150px;
  text-align: center;
  line-height: 2;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  border: solid 1px black;
}

.info-container {
  width: 85%;
  background-color: #01d54b4d;
  margin: 10px auto;
  border-radius: 5px;
  position: relative;
  padding: 10px 20px;
  justify-content: space-between;
  display: flex;
  border: solid 1px green;
  box-sizing: border-box;
}

.posta {
  font-weight: bolder;
  color: green;
  font-family: "Gill Sans", sans-serif;
}

.info {
  color: green;
  text-decoration: underline;
  font-style: italic;
}
